{% extends 'blog/base.html' %} <!-- Inherit from the base template -->

{% block content %} <!-- Start the content block that will be filled with the home page content -->

{% for post in posts %} <!-- Loop through the posts passed from the view and display them -->
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small> <!-- Format the date using the date filter -->
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}

{% endblock content %} <!-- End the content block -->